/* Styling for loltrove site

Kuler theme "garden-table-muted" by user mjpooley1
A8437A : Magenta
60A7A0 : Light blue-green
F4C264 : Pastel Yellow
F2E3C2 : Off-white
F87F68 : Salmon
*/

.theme-magenta {
    background-color: #A8437A;
    color: white
}
.theme-blue-green {
    background-color: #60A7A0;
    color: white
}
.theme-yellow {
    background-color: #F4C264;
    color: white;
}
.theme-off-white {
    background-color: #F2E3C2;
    color: #555;
}
.theme-salmon {
    background-color: #F87F68;
    color: white;
}
.theme-light-gray {
    background-color: #DDDDDD;
    color: #333;
}
.theme-gray {
    background-color: #333;
    color: white;
}

.bg-black {
    background-color: black;
}

.gifcaption {
    height: 3em;
}

/* Content */
.masthead {
    padding: 7em 0 7em 0;
}

.featurette {
    padding: 2em 0 2em 0;
}

.icon-lg {
    font-size: 8em;
}

.text-xlarge {
    font-size: x-large;
}

.text-large {
    font-size: large;
}

.grid-img {
    width: 100%
}

.glyphicon-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Misc */
.centered-text {
    text-align: center;
} 

.txtshadow-light {
    text-shadow: 1px 1px 1px #333;
}

.white-link {
    border-bottom: 1px dashed white;
    text-decoration: none;
    color: inherit;
}

.white-link:hover {
    color: inherit;
    text-decoration: none;
}

figure.freezeframe-container {
    background-color: black;
}

/* Bootstrap Overrides */

.well {
    color: #444;
    text-shadow: none;
}

