<div class="row theme-magenta masthead txtshadow-light">
  <div class="col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-1">
    <div class="row">
      <div class="col-lg-9 col-md-9">
        <h1>loltrove</h1>
        <h1>Get those valuable internet points you deserve</h1>
        <h3>Be better at the internet - spew viral content quickly and easily.</h3>
        <h3>Find & post images, gifs, and other viral content <i>fast</i> </h3>
      </div>
      <div class="col-md-3 col-lg-3">
        <img src="images/loltrove_logo.png"/>
      </div>
    </div>
    <br />
    <div class="col-md-5 bg-black centered-text">
      <br/>
      <div> <span class="well well-sm"><strong>Right-click &gt; loltrove &gt; Add Lol</strong></span></div>
      <br/>
      <br/>
      <video controls loop>
        <source src="videos/add_lol_while_browsing.mp4">
        <source src="videos/add_lol_while_browsing.webm">
          <img class="grid-img" src="images/add_lol_while_browsing_optimized.gif" alt="Add lols right while you browse!" freezeframe/>
          <p>Your browser does not support the <code>video</code> element.</p>
          <p>Please upgrade to a standards compliant browser like <a href="http://firefox.com">Mozilla Firefox</a> or <a href="http://chrome.google.com">Google Chrome</a> </p>
      </video>
      <h4 class="gifcaption">Save that awesome GIF you just found so you can use it later when making a witty retort on the internet!</h4>
    </div>
    <div class="col-md-offset-1 col-md-5 bg-black small-left-margin centered-text">
      <br/>
      <div> <span class="well well-sm"><strong>Right-click &gt; loltrove &gt; Clipboard Copy &gt; Paste</strong></span></div>
      <br/>
      <br/>
      <video controls loop>
        <source src="videos/paste_lol_daft_punk.mp4">
        <source src="videos/paste_lol_daft_punk.webm">
          <img class="grid-img" src="images/paste_lol_daft_punk_optimized.gif" alt="Add lols right while you browse!" freezeframe/>
          <p>Your browser does not support the <code>video</code> element.</p>
          <p>Please upgrade to a standards compliant browser like <a href="http://firefox.com">Mozilla Firefox</a> or <a href="http://chrome.google.com">Google Chrome</a> </p>
      </video>
      <h4 class="gifcaption">Easily get access to the URL for that hilarious image you want to embed!</h4>
    </div>
  </div>
</div>

<div class="row featurette theme-gray txtshadow-light">
  <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    <h2 class="centered-text">Build your private repertoire of favorite content, or browse community content!</h2>

    <div class="col-md-6">
      <div class="glyphicon-container centered-text"><i class="glyphicon glyphicon-save icon-lg"></i></div>
      <p class="text-large">Hate the &quot;cloud&quot;? Build your trove on your own harddrive! No information will be sent to our servers (unless you explicitly choose to share), and we'll make it easy to tuck away those bits of internet gold when you see them, and ensure it's easy for you to get them out again.</p>
    </div>

    <div class="col-md-6">
      <div class="glyphicon-container centered-text"><i class="glyphicon glyphicon-cloud icon-lg"></i></div>
      <p class="text-large">Love the &quot;cloud&quot;? Share your finds with the community! The more awesome content is shared, the more everyone benefits! You find the funnies, we'll make them easy to search and embed, so you can sit back and enjoy the internets.</p>
    </div>

  </div>

  <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 centered-text">
    <h2>Interested? Loltrove is available for the following browsers:</h2>
    <i class="text-large">(We're working on supporting more browsers!)</i>
    <div class="row">
    <a href="https://chrome.google.com/webstore/detail/loltrove/ebbckpkgcmgmbnhfoachimbgahlgajnm" alt="loltrove chrome extension" target="_blank"><img src="images/chrome_128x128.png"/></a>
    <img src="images/firefox_grayscale_128x128.png"/>
    <img src="images/opera_grayscale_128x128.png"/>
    <img src="images/ie_grayscale_128x128.png"/>
    </div>

  </div>


</div>

<div class="row featurette theme-light-gray">
  <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    <h3>Really love/hate loltrove?</h3>
    <p class="text-xlarge"> Leave some feedback! We hope that loltrove will become a great asset in your internet arsenal -- if it's not that right now, we want to know!</p>
    <div class="centered-text">
      <button class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-envelope"></i> Leave Feedback</button>
    </div>
  </div>
</div>


<div class="row featurette theme-gray txtshadow-light">
  <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    <p>Developed by <a class="white-link" href="http://www.vadosware.com">vados</a>. A browser extension built with <a class="white-link" href="http://www.jquery.com">jQuery</a>, <a class="white-link" href="http://purecss.io/">PureCSS</a>, and <a class="white-link" href="http://angularjs.org">AngularJS</a></p>
<p>All company and/or browser logos are copyright of their respective owners.</p>
  </div>
</div>
