<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>loltrove</title>

    <link rel="icon" href="/images/loltrove_web16x16.ico" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap/css/bootstrap.min.css" />

    <% if settings.development? %>
    <link rel="stylesheet" type="text/css" href="/css/loltrove.css" />
    <script src="/plugins/jquery/jquery-1.10.2.min.js"></script>
    <script src="/plugins/freezeframe/freezeframe.js"></script>
    <% else %>
    <link rel="stylesheet" type="text/css" href="/dist/css/loltrove.0.0.0.min.css" />
    <script src="/dist/js/loltrove.0.0.0.min.js"></script>
    <% end %>
    <script type="text/javascript">freezeframe = new FreezeFrame({animation_icon_position: "center center"});</script>

  </head>
  <body>
    <%= yield %>

    <% if not settings.development? %>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://configr.io/piwik/";
      _paq.push(["setTrackerUrl", u+"piwik.php"]);
      _paq.push(["setSiteId", "2"]);
      var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
      g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript>
      <img src="https://configr.io/piwik/piwik.php?idsite=2&amp;rec=1" style="border:0" alt="" />
    </noscript>
    <!-- End Piwik Code -->
    <% end %>

  </body>

</html>
