Welcome to the loltrove community! 

We're excited to have another member dedicated to internet lols, rainbows, and sharing great content. We hope that you will greatly benefit from sharing with other users using loltrove!

Here is your API key:
<%= api_key %>

Keep the API key in a safe place!

Please do not post any sexually explicit or offensive pictures on loltrove -- uploaded content that has been marked as inappropriate by a certain amount of users will amount in banning of your account.


Thanks again for joining the loltrove community, we can't wait to see what you'll add!

