/* Styling for loltrove chrome extension */
body {
    min-width: 600px;
    padding: 0;
    margin: 0;
    padding-top: 38px;
}

.topnav {
    position:fixed;
    top: 0;
    left: 0;
}

.alert-actions-container {
    text-align: left;
}

.page-title {
    font-size: x-large;
    margin-bottom: 1em;
    height: 35px;
}

.page-subtitle {
    font-size: x-large;
    height: 35px;
    padding-left: 1em;
    padding-top: .2em;
    cursor: pointer;
}

.page-subtitle-right-menu {
    margin-right: 1em;
}

.slim-padding {
    padding: .5em;
    padding-top: .3em;
    padding-bottom: .7em;
}


.txtshadow {
    text-shadow: 1px 1px 2px black;
}

.no-images-message {
    padding: 1em;
}

.gif-wall {
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;

    width: 98%;
    margin-left: 1%;
}


.gif-wall-img-container {
    position: relative;
}

.gif-wall-img {
    width: 100% !important;
    height: auto !important;
    box-shadow: 5px 5px 5px #111;
}

.image-top-icon-area-container {
    position: absolute;
    width: 95%;
    padding: 5px;
}

.image-top-icon-area {
    background-color: rgba(0,0,0,0.5);
    padding: .5em;
}

.image-top-icon {
    cursor: pointer;
}

.gif-wall-img-caption {
    width: 100%;
    line-height: 1em;
    padding: 0; 
    margin:0;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: .5em;
}

.lols-view {
    margin-bottom:1em
}

.lols-footer {
    text-align: center;
    width: 100%;
    min-height: 3em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.box-shadow-large {
    box-shadow: 4px 4px 20px black;
}

/* Utilities */
.hidden {
    display: none;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

a.plain {
    text-decoration: none;
}

a.light {
    color: rgb(11, 165, 240);
}

a.plain:hover {
    text-decoration: none;
}

.xlarge {
    font-size: x-large;
}
/* Colors */

.carbon-fibre-bg {
    background-color: #333;
    background-image: url('../img/carbon_fibre.png');
}

.black-gradient-bg {
    background-color: #272729;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0%,rgba(0,0,0,.07)),color-stop(100%,rgba(255,255,255,.07)));
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 100%);
    background-image: linear-gradient(bottom, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 100%);
}

.magenta-bg {
    color: white;
    background-color: #A8437A;
}

.white-bg {
    color: black;
    background-color: white;
}

.white {
    color: white;
}

.red {
    color: red;
}

.gold {
    color: #FFD700;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-margins {
    margin: 0;
}

#searchbox::-webkit-input-placeholder {
    text-align: center;
}

/* Media Queries */
@media (max-width: 1200px) {
    .gif-wall {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    .gif-wall {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    .gif-wall {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    .gif-wall {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}

/* Pure addons */
pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-custom {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}
.pure-form input.pure-input-rounded.thin-padding, .pure-form .pure-input-rounded.thin-padding {
    padding: .3em !important;
}

.pure-alert {
    border-bottom: 1px solid #DDD;
}

.pure-alert-message {
    padding: .5em;
}

.pure-alert-dismiss {
    position: relative;
    top: 1px;
    right: 3px;
    color: inherit;

    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0px 1px 0px #FFF;
    opacity: 0.2;
}

.pure-alert-success {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.pure-alert-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}

.pure-alert-warning {
    color: #C09853;
    background-color: #FCF8E3;
    border-color: #FAEBCC;
}

.pure-alert-info {
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}
