<div ng-controller="AlertsController">

  <div ng-show="alerts().length > 0">
    <div class="{{ 'pure-u-1 pure-alert pure-alert-' + alert.type }}" ng-repeat="alert in alerts()">
      <button type="button" class="pure-alert-dismiss" ng-click="dismiss_alert(alert)">&times;</button>
      <div class="pure-alert-message">{{alert.message}}</div>

      <!-- Alert actions -->
      <div class="alert-actions-container" ng-show="alert.actions.length > 0">
        <button class="pure-button pure-button-primary pure-button-xsmall" ng-repeat="action in alert.actions" ng-click="action.click_fn()">
          <i ng-show="action.icon_class" class="{{action.icon_class}}"></i> {{action.text}}
        </button>
      </div>

    </div>
  </div>
  
</div>
