<div class="gif-wall">
  
  <!-- Do some optional filtering for different views (different parent views need different filtered in -->
  <div class="gif-wall-img-container"  ng-repeat="img in images | notHiddenLol:showHidden | notLocalLol:showLocal | filter: query | orderBy:name ">

    <div class="image-top-icon-area-container">
      <div class="pull-right image-top-icon-area">
        <i class="image-top-icon fa fa-clipboard white" ng-click="copyImageUrlToClipboard({img:img})" data-toggle="tooltip" data-placement="bottom" data-original-title="Copy URL to your clipboard" bs-tooltip></i>
        <i class="image-top-icon fa fa-trash-o white" ng-click="deleteImage({img:img})" ng-show="img._origin!='community'" data-toggle="tooltip" data-placement="bottom" data-original-title="Delete" bs-tooltip></i>
        <i class="image-top-icon fa fa-eye-slash white" ng-click="toggleHideLol({img:img})" ng-show="img._origin=='community'" data-toggle="tooltip" data-placement="bottom" data-original-title="Hide/Unhide Lol" bs-tooltip></i>
        <i class="image-top-icon fa fa-exclamation-triangle white" ng-click="reportRemoteLol({img:img})" ng-show="img._origin=='community'" data-toggle="tooltip" data-placement="bottom" data-original-title="Report Lol" bs-tooltip></i>
        <i class="image-top-icon fa" ng-click="toggleFavoriteImage({img:img})" ng-class="{'fa-star-o': !img.isFavorite, 'white': !img.isFavorite, 'gold': img.isFavorite, 'fa-star': img.isFavorite}" data-toggle="tooltip" data-placement="bottom" data-original-title="Favorite" bs-tooltip></i>
        <i class="image-top-icon fa fa-save white" ng-show="img._origin=='community'" ng-click="saveRemoteImageLocally({img:img})" data-toggle="tooltip" data-placement="bottom" data-original-title="Save locally" bs-tooltip></i>
        <i class="image-top-icon fa white" ng-class="{'fa-globe': img._origin=='community', 'fa-home': img._origin=='local'}" data-toggle="tooltip" data-placement="bottom" data-original-title="{{img._origin|capitalize}}" bs-tooltip></i>
      </div>
    </div>
    <img class="gif-wall-img" ng-src="{{img.url}}" alt="{{img.name}}" ng-model="img"></img>
    <div class="gif-wall-img-caption">{{img.name}}</div>

  </div>
</div>


