<top-navbar></top-navbar>

<alerts></alerts>

<div class="page-title slim-padding magenta-bg">Loltrove Login</div>

<div class="white-bg slim-padding pure-g">
  <div class="pure-u-1">
    <strong>Use loltrove locally:</strong>
    <br/>
    <small><i>NO loltrove.io API calls (outside of community-uploaded content), Locally stored data</i></small>
    <button class="pure-u-1 pure-button pure-button-primary pure-button-large" btn-link="/lols">
      <i class="fa fa-briefcase"></i> Local Mode
    </button>
    <br/>
    <br/>
    <hr color="#DDDDDD"/>
    <br/>
    <strong>Login to enable cloud features:</strong>
    <br/>
    <small><i>Full loltrove.io integration, Access to submit and view community-uploaded content, more internets at your disposal</i></small>
    <form class="pure-form pure-form-stacked" ng-submit="login()">
      <fieldset>
        <label for="email"></label>
        <input class="pure-u-1" ng-model="email" type="text" id="email" placeholder="Email Address" required>

        <label for="api_key"></label>
        <input class="pure-u-1" ng-model="api_key" type="text" id="api_key" placeholder="API Key" required>

        <button type="submit" class="pure-u-1 pure-button pure-button-custom pure-button-success pure-button-large">
          <i class="fa fa-user"></i> Sign in to loltrove.io</button>
      </fieldset>
    </form>

    <button type="button" class="pure-u-1 pure-button pure-button-custom pure-button-secondary pure-button-large" ng-click="signup()">
      <i class="fa fa-leaf"></i> Create account on loltrove.io</button>
    <small><i>Note - you only need to input your email to create an account on loltrove.io</i></small>
    <br/>
    <small><i> (we'll send you an email with an API key!)</i></small>

  </div>
</div>

<div class="pure-g lols-footer black-gradient-bg white box-shadow-large">
  <div class="pure-u-1">
    Learn more about loltrove @ <a class="plain light" href="http://loltrove.io" target="_blank">loltrove.io</a>
  </div>
</div>
