<top-navbar></top-navbar>

<div class="page-title slim-padding no-bottom-margin magenta-bg">
  Lols
  <div class="pull-right">
    <form class="pure-form">
      <input id="searchbox" class="thin-padding pure-input-rounded" 
             type="text" placeholder="Filter / Search" 
             ng-model="searchQuery" ng-enter="remoteSearch(searchQuery)" data-toggle="tooltip" data-placement="left" data-original-title="Press enter to search community-uploaded lols!" first-Focus bs-tooltip>
  </div>
</div>
</div>

<div class="gif-wall-container carbon-fibre-bg">

  <!-- Local lols -->
  <div class="white page-subtitle black-gradient-bg" ng-click="showLocalImagesTab=!showLocalImagesTab">
    Local
    <i class="fa page-subtitle-right-menu pull-right" ng-class="{ 'fa-chevron-up': showLocalImagesTab, 'fa-chevron-down': !showLocalImagesTab  }"></i>
  </div>
  <div ng-show="showLocalImagesTab">
    <gif-wall images="images" query="searchQuery"
              copy-image-url-to-clipboard="copyImageUrlToClipboard(img)"
              delete-image="deleteImage(img)"
              toggle-favorite-image="toggleFavoriteImage(img)"
              save-remote-image-locally="saveRemoteImageLocally(img)"></gif-wall>  

    <div class="no-images-message white" ng-show="!images.length">
      <h2>Oh noes, no local lols! :( </h2>
      <h3>Don't sweat it! You can add them as you browse the interwebs!</h3>
      <h3>If you really want to do things the hard way, then you can <a class="plain light" href="#/lols/new">add some manually</a>!</h3>
    </div>

  </div>



  <!-- Community-uploaded lols -->
  <div class="white page-subtitle black-gradient-bg" ng-click="showCommunityImagesTab=!showCommunityImagesTab">
    Community
    <i class="fa page-subtitle-right-menu pull-right" ng-class="{ 'fa-chevron-up': showCommunityImagesTab, 'fa-chevron-down': !showCommunityImagesTab  }"></i>
  </div>
  <div ng-show="showCommunityImagesTab">
    <gif-wall images="remote_images" 
              query="searchQuery"
              copy-image-url-to-clipboard="copyImageUrlToClipboard(img)"
              show-local="false"
              delete-image="deleteImage(img)"
              toggle-favorite-image="toggleFavoriteImage(img)"
              toggle-hide-lol="toggleHideLol(img)"
              report-remote-lol="reportRemoteLol(img)"
              save-remote-image-locally="saveRemoteImageLocally(img)"></gif-wall>  

    <div class="no-images-message white" ng-show="!remote_images.length && !authenticated">
      <h2>Oh noes, no community lols! :( </h2>
      <h3>Are you logged in?</h3>
      <h3>Only logged in users may view/submit to the community maintained lols (outside of searches)... If you are logged in and are still seeing this message, there may be server trouble a-brewin'!</h3>
      <h3>Please contact <a class="plain light" href="mailto:support@vadosware.io">support@vadosware.io</a></h3>
    </div>

  </div>


  <!-- Hidden lols -->
  <div class="white page-subtitle black-gradient-bg" ng-click="showHiddenLolsTab=!showHiddenLolsTab">
    Hidden Community Lols
    <i class="fa page-subtitle-right-menu pull-right" ng-class="{ 'fa-chevron-up': showHiddenLolsTab, 'fa-chevron-down': !showHiddenLolsTab }"></i>
  </div>
  <div ng-show="showHiddenLolsTab">
    <gif-wall images="hidden_lols" 
              show-hidden="true"
              query="searchQuery"
              copy-image-url-to-clipboard="copyImageUrlToClipboard(img)"
              delete-image="deleteImage(img)"
              toggle-favorite-image="toggleFavoriteImage(img)"
              toggle-hide-lol="toggleHideLol(img)"
              report-remote-lol="reportRemoteLol(img)"
              save-remote-image-locally="saveRemoteImageLocally(img)"></gif-wall>  

    <div class="no-images-message white" ng-show="!hidden_lols.length">
      <h2>Looks like you haven't hidden any community lols! </h2>
      <h3>We're glad you haven't found any inappropriate content submitted to loltrove!</h3>
      <h3>If you ever see content you disagree with, hide and/or report it!</h3>
    </div>

  </div>



<div class="pure-g lols-footer black-gradient-bg white box-shadow-large">
  <div class="pure-u-1">
    <h1>Over too soon?</h1>
    
    <button class="pure-button pure-button-success pure-button-medium white" ng-click="loadMoreLols()"> 
      Load more community-uploaded Lols!
    </button>
    <br/>
    <br/>
    <a class="pure-button pure-button-primary pure-button-medium white" href="#/lols/new">Add some more local Lols!</a>
  </div>
  <div class="pure-u-1 no-images-message" ng-show="!authenticated">
    <a class="plain light" href="#/login">Login or register</a> to access community uploaded lols!
  </div>

</div>

</div>
