<top-navbar></top-navbar>

<div class="page-title slim-padding magenta-bg">Add Lol</div>
<div class="pure-g">
  <div class="pure-u-1-6"></div>
  <small class="pure-u-2-3 centered" ng-show="!autoclose"><strong>Protip:</strong><i> It's much easier to to add lols through the context menu (right click)! Find something you like, right-click, and save it!</i></small>
  <div class="pure-u-1-6"></div>
</div>
<div class="white-bg slim-padding pure-g" ng-controller="LolsNewController">
  <div class="pure-u-1">
    <form name="form" class="pure-form pure-form-stacked" ng-submit="add_lol()">
      <fieldset>
        <label for="name"><b>Name</b></label>
        <input class="pure-u-1" ng-model="name" type="text" id="name" placeholder="Lol name" first-Focus required>
        <small>Name it something you'll remember! (A good way to do this is to think of the image and name it the first few words that come to mind)</small>

        <br/>
        <br/>
        <label for="url"><b>URL</b></label>
        <input class="pure-u-1" ng-model="url" type="url" id="url" name="url" placeholder="URL" ng-pattern="/^.*\.(jpg|jpeg|bmp|png|gif|tiff)$/" required />
        <small>Copy-pasta that URL!</small>

        <div class="red" ng-show="form.url.$error.pattern">Please input a URL to a valid image (gif,jpg,png,etc)!</div>
        
        <br/>
        <br/>
        <label for="isFavorite">
          <input ng-model="isFavorite" type="checkbox" id="isFavorite" name="isFavorite"/> <b>Favorite?</b>
        </label>
        <small>See yourself using this in the near future? Favorites instantly go to your context (right-click) menu!</small>

        <br/>
        <br/>
        <label for="addToTrove">
          <input ng-model="addToTrove" type="checkbox" id="addToTrove" name="addToTrove"/> <b>Share with others on loltrove?</b>
        </label>
        <small>Found something awesome? Give a little bit back!</small>

        <br/>
        <br/>
        <button type="submit" ng-disabled="form.url.$error.pattern" class="pure-u-1 pure-button pure-button-custom pure-button-success pure-button-large">
          <i class="fa fa-plus"></i> Add to trove</button>
      </fieldset>
    </form>

  </div>
</div>
