<div  ng-controller="NavController">

  <div class="pure-menu pure-menu-open pure-menu-horizontal topnav">
    <a href="#/lols" class="pure-menu-heading">Loltrove</a>

    <ul>
      <li><a href="#/lols"><i class="fa fa-home"></i></a></li>
      <li><a href="#/lols/new"><i class="fa fa-plus"></i></a></li>
    </ul>

    <ul class="float-right">
      <li ng-show="isAuthenticated"><a href="" ng-click="logout()">Log out</a></li>
      <li ng-show="!isAuthenticated"><a href="" btn-link="/login">Log in</a></li>
    </ul>
    
    <alerts></alerts>
  </div>

</div>
